<section class="container meals is-center">
    <h1>
        <% if @university.campus? %>
            <%= "#{@university.university.name} - #{@university.long_name}"  %>
        <% else %>
            <%= @university.long_name %>
        <% end %>
    </h1>

    <div class="links">
    <a href="<%= @university.website %>" target="_blank">
        <i class="fa fa-globe"></i>
    </a>

    <a href="https://play.google.com/store/apps/details?id=br.uel.easymenu.<%= @university.main_name.downcase %>" target="_blank">
        <i class="fa fa-android"></i>
    </a>
    </div>

    <h2><%= @date.strftime('%A (%m/%d/%Y)') %></h2>

    <% if !@meals.empty? %>
    <div class="meals-table">
        <% link_date_navigator(@university, @date) do %>
            <div class="responsive-table">
                <table class="pure-table pure-table-bordered">
                    <thead class="is-center">
                        <% @meals.each do |meal| %>
                            <% period = (meal.period == Period.both) ? 'LUNCH & DINNER' : meal.period %>
                            <th><%= period %></th>
                        <% end %>
                    </thead>
                    <% group_dishes(@meals).each do |dishes| %>
                        <tr>
                            <% dishes.each do |dish| %>
                            <td>
                                <%= dish.name unless dish.nil?%>
                            </td>
                            <% end %>
                        </tr>
                    <% end %>
                </table>
            </div>
        <% end %>
    </div>
    <% else %>
    <div class="no-meals">
        <% link_date_navigator(@university, @date) do %>
            <h3> No meals for this day</h3>
        <% end %>
    </div>
    <% end %>
</section>
