<!DOC>
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel ="stylesheet" href="<%= stylesheet_path 'app' %>">
  <script src="<%= javascript_path 'app' %>" async></script>
</head>
<body>
  <div id="layout">
  <a href="#menu" id="menuLink" class="menu-link">
    <span></span>
  </a>
  <div id="menu">
      <div class="pure-menu">
          <a class="pure-menu-heading" href="/">EasyMenu</a>
          <ul id="universities" class="pure-menu-list">
            <% University.all.each do |un| %>
                <% if un.has_campus? %>
                    <%= un.name %>
                <% else %>
                    <li class="pure-menu-item"><a class="pure-menu-link" href="/weekly/<%= un.name%>"><%= un.name %></a></li>
                <% end %>
            <% end %>
          </ul>
      </div>
  </div>

  <div id="main">
    <%= yield %>
  </div>
  </div>
</body>
</html>
