<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Bandejao - Mobility to Your University Cafeteria</title>

    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="assets/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext'>
    <link rel="stylesheet" href="<%= stylesheet_path 'app' %>">
    <script src="<%= javascript_path 'app' %>" async></script>
</head>

<body>
    <div class="content-wrapper">
        <header class="pure-menu pure-menu-horizontal pure-menu-fixed">
            <div class="container home-menu">
                <a class="pure-menu-heading" href="/">
                  <img id="logo" src="<%= image_path('logo.png') %>"></img>
                  <span class="heading-title">Bandejao</span>
                </a>

                <button class="hamburger hamburger--collapse" id="menu-button" type="button">
                    <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                    </span>
                </button>

                <nav role="navigation" id="main-nav">
                    <ul id="navigation-list" class="pure-menu-list">
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
                        <li class="pure-menu-item">
                            <a class="pure-menu-link">
                              <span>Universities</span>
                              <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="pure-menu-list">
                                <% University.without_campus.order(:name).each do |un| %>
                                    <li class="pure-menu-item">
                                        <a class="pure-menu-link" href="/daily/<%= un.name%>">
                                            <%= un.name %>
                                        </a>
                                    </li>
                                <% end %>
                            </ul>
                        </li>
                        <li class="pure-menu-item">
                            <a class="pure-menu-link">
                                <span>Code</span>
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="pure-menu-list">
                              <li class="pure-menu-item">
                                <a class="pure-menu-link" target="_blank" href="http://github.com">
                                  Android
                                </a>
                              </li>
                              <li class="pure-menu-item">
                                  <a class="pure-menu-link" target="_blank" href="http://github.com">
                                      Deploy
                                  </a>
                              </li>
                              <li class="pure-menu-item">
                                  <a class="pure-menu-link" target="_blank" href="http://github.com">
                                      Server
                                  </a>
                              </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="main-content">
            <%= yield %>
        </div>

        <footer class="is-center">
            <p>Footer</p>
        </footer>
    </div>
</body>

</html>
